# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
scripts/deploy.sh export-ignore
scripts/rollback.sh export-ignore
